body {
      background: #ff0000;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 90vh;
   .gallery {
      background: blue;
      width: 80%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
 .switch {
      color: black;
      padding: 40px;
      background: #FFF900;
      }

.content {
	margin-top: 20vh;
      height: 80vh;
	text-align: center;
      display: none;
}

.show-me {
   display: block;
}

h1 {
      font-size: 4rem;
      -webkit-text-fill-color: #FF0000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF900;
}